
// Colors
$color-white: #ffffff;
$color-blue-prime: #5283D7;

// Spacing
$global-padding-small: 0;
$content-padding-small: 20px;
$content-padding-large: 0;

// Break points
$tablet-only: "(min-width: 768px) and (max-width: 1023px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
